/** @format */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
body {
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  background: #272c34;
}

.circle {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: circle(50% at 50% 50%);
  filter: drop-shadow(0 0 10px #fff);
  animation: animate-circle 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sky {
  width: 100%;
  height: 100%;
  background: #7ddffc;
  object-fit: contain;
}

.sun {
  position: absolute;
  top: 5px;
  left: 70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff700;
  transform-origin: 50% 400%;
  animation: animate-sun 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.left {
  position: absolute;
  top: 12px;
  left: 30px;
  width: 80px;
  height: 116px;
  background-color: azure;
  clip-path: polygon(0% 100%, 100% 100%, 80% 50%);
  z-index: 10;
  animation: animate-left 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.right {
  position: absolute;
  top: 12px;
  left: 86px;
  width: 80px;
  height: 116px;
  background-color: rgb(168, 168, 168);
  clip-path: polygon(30% 100%, 80% 100%, 10% 50%);
  z-index: 10;
  animation: animate-right 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.shadow {
  position: absolute;
  bottom: 39px;
  left: -83px;
  width: 360px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  clip-path: polygon(110px 56%, 231px 50%, 100% 100%);
  animation: animate-shadow 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  z-index: 1;
}

.ground {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  background-color: #f0de75;
}

@keyframes animate-circle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animate-sun {
  0% {
    background: #f57209;
    transform: rotate(-70deg);
  }
  30% {
    background: #ffef00;
    transform: rotate(-28deg);
  }
  70% {
    background: #ffef00;
  }
  100% {
    background: #f57209;
    transform: rotate(70deg);
  }
}
@keyframes animate-left {
  0% {
    background-color: #fff;
  }
  30% {
    background-color: rgb(250, 250, 250);
  }
  70% {
    background-color: rgb(216, 216, 216);
  }
  100% {
    background-color: rgb(180, 180, 180);
  }
}
@keyframes animate-right {
  0% {
    background-color: rgb(180, 180, 180);
  }
  30% {
    background-color: rgb(216, 216, 216);
  }
  70% {
    background-color: rgb(250, 250, 250);
  }
  100% {
    background-color: #fff;
  }
}
@keyframes animate-shadow {
  0% {
    clip-path: polygon(110px 56%, 231px 50%, 100% 100%);
  }
  30% {
    clip-path: polygon(110px 50%, 231px 50%, 70% 100%);
  }
  55% {
    transform: scaleY(2);
  }
  70% {
    transform: scaleY(1.5);
  }
  100% {
    clip-path: polygon(118px 56%, 238px 50%, 0% 100%);
  }
}
